:root {
  --primary: #25628f;
  --secondary: #f36d38;
  --thirdColor: #2dbfcd;
  --bodyBg: #f5f6fa;
  --whiteColor: #fff;
  --shadowColor: rgba(100, 100, 111, 0.2);
  --textColor: #565656;
  --borderColor: #e6e6e6;
  --sidebarTextColor: #202224;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--bodyBg);
}

.cusBtn {
  background-color: var(--primary);
  font-size: 14px;
  font-weight: bold;
  color: var(--whiteColor);
  padding: 8px 25px;
  border-radius: 50px;
  width: fit-content;
  cursor: pointer;
}

.cusBtn:hover {
  background-color: var(--secondary);
}

.form-input {
  border: 0 solid transparent;
  border-bottom: 2px solid var(--borderColor);
  border-radius: 0;
  margin: 1.5em auto;
  outline: none;
  padding: 1em 0.5em 0.5em 2em;
  transition: all 0.5s ease;
  width: 100%;
  color: var(--textColor);
}

.form-input:focus {
  border-bottom: 2px solid var(--primary);
}

/* LoginPage */

.loginBg {
  height: 100vh;
  flex-direction: column;
  background-color: var(--bodyBg);
}

.loginDiv {
  background-color: var(--whiteColor);
  width: 25vw;
  padding: 3.5rem;
  text-align: center;
  box-shadow: var(--shadowColor) 0px 7px 29px 0px;
}

.loginIcon {
  position: absolute;
  left: 0;
  bottom: 40px;
  color: var(--primary);
}

.pswIcon {
  position: absolute;
  right: 0;
  bottom: 40px;
  color: var(--primary);
  cursor: pointer;
}

/* Sidebar */
.customSidebar {
  padding: 15px 0;
  background-color: var(--whiteColor);
}

.customSidebar .ps-sidebar-container {
  background-color: var(--whiteColor);
  display: flex;
  flex-direction: column;
}

.marginCustomBar .ps-menu-root {
  margin-left: 35px;
  margin-right: 35px;
}

.collapseMargin .ps-menu-root {
  margin-left: 3px;
  margin-right: 3px;
}

.customSidebar .ps-menuitem-root {
  font-size: 14px !important;
  color: var(--sidebarTextColor);
}

.customSidebar .ps-menu-button:hover {
  background-color: unset !important;
  color: var(--primary);
  font-weight: 600;
}

.customSidebar .ps-menu-icon {
  margin-right: 10px;
  margin-left: 0;
  width: 15px;
  min-width: 15px;
}

.customSidebar .ps-menu-label {
  font-weight: 500;
}

.customSidebar .ps-menu-button {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.sidebarActive {
  background-color: var(--primary);
  color: var(--whiteColor) !important;
  border-radius: 5px;
}

.sidebarActive .ps-menu-button:hover {
  background-color: unset !important;
  color: var(--whiteColor);
  font-weight: normal;
}

.sidebarActive::before {
  content: "";
  width: 5px;
  height: 100%;
  background-color: var(--primary);
  position: absolute;
  left: -35px;
  border-radius: 0 5px 5px 0;
}

.sidebarImg {
  height: auto;
  width: 60%;
}

/* header */
.headerDiv {
  background-color: var(--whiteColor);
  padding: 12px 25px;
  display: flex;
  align-items: center;
}

.sidebarToggle {
  font-size: 25px;
  color: var(--textColor);
  cursor: pointer;
}

.searchDiv {
  margin-left: 25px;
  border: 1px solid #1e1e1e09;
  border-radius: 25px;
  padding: 5px 15px 5px 40px;
  background-color: var(--bodyBg);
  width: 380px;
  position: relative;
  display: flex;
}

.searchDiv:focus-within {
  background-color: var(--whiteColor);
}

.searchBar {
  border: none;
  background-color: var(--bodyBg);
  border-radius: 25px;
  width: 100%;
}

.searchBar:focus-visible,
.searchBar:focus {
  outline: unset !important;
  background-color: var(--whiteColor);
}

.searchIcon {
  position: absolute;
  left: 15px;
  top: 10px;
  color: #757575;
}

.emptyDiv {
  flex: 1;
}

.userInfoDiv {
  display: flex;
  align-items: center;
}

.userImage {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
}

.mailIcon {
  font-size: 25px;
  margin: 10px;
  cursor: pointer;
}

.bellIcon {
  font-size: 25px;
  margin: 10px;
  color: var(--primary);
}

.downArrow {
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
  color: var(--primary);
}

.userLabel {
  font-size: 14px;
  color: var(--primary);
  font-weight: bold;
  margin-bottom: 0;
}

.userType {
  font-size: 12px;
  color: var(--secondary);
  font-weight: 500;
  margin-bottom: 0;
}

.headerBadge {
  background-color: var(--secondary);
  position: absolute;
  right: 5px;
  border-radius: 50%;
  font-size: 10px;
}

.userInfoDiv .dropdown-menu {
  border: none;
  border-radius: 0;
  box-shadow: var(--shadowColor) 0px 7px 29px 0px;
}

.userInfoDiv .dropdown-item {
  font-size: 14px;
  color: var(--textColor);
}

.userInfoDiv .dropdown-item:active {
  color: var(--whiteColor);
  background-color: var(--primary);
}

.pageTitle {
  margin: 1.5rem;
  font-weight: bold;
  color: var(--primary);
  font-size: 24px;
}

.ps-collapsed {
  width: 50px !important;
  min-width: 50px !important;
}
